
<!-- template for cart -->
<div class="container">
  <h2> Shopping Cart </h2>
  <hr>
  <div class="row" ng-repeat="cart in carts">
    <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="{{cart.image}}" alt="">
          </a>
        </div>

        <div class="media-body">
          <h4 class="media-heading">{{cart.name}}</h4>
          <p> Price: {{cart.price | currency}} &nbsp;&nbsp; Condition:{{cart.condition}} </p>
          <p>{{cart.description}}</p>
        </div>
    </div>
    <br>
  </div>
</div>
