
<!-- template for post -->
<div class="container">
<form action="/" method="post">
  <div class="controls form-inline">
      <label for="title">Posting Title: &nbsp;&nbsp;</label><input class="form-control" style="width: 600px" type="text" id="title" name="title"> &nbsp;
      <label for="price">Price: &nbsp;&nbsp;</label>$<input class="form-control" style="width: 40px" type="text" id="price" name="price"></p>
  </div>
  <!-- <p> <b>Select the file to upload: </b></p>
  <input type="file" name="filetoupload"> -->
  <br>
  <p> Category: Sub-category:</p>
  <p><b>Posting body:</b></p>
  <textarea class="form-control" name="description" cols="100" rows="12"></textarea>
  <br>

  <input class="btn btn-primary" role="button" type="submit" value="Submit">
</form>
</div>
