<!--Search Bar ---------------------------------->
<div class ="container" ng-controller="searchButtonController">
  <div class="col-sm-offset-2 col-sm-8" align="center">
      <!-- <form class="input-group" action="/api/search" method="get"> -->
        <div class="input-group">
            <div class="input-group-btn" >
                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown"><span class="label-icon" id="school">All School</span><span class="caret"></span></button>
                <ul class="dropdown-menu pull-left" role="menu">
                   <li><a href="#"><span class="label-icon">University of California, Los Angeles</span></a></li>
                </ul>
            </div>
            <input type="text" name="searchkey" ng-model="searchkey" class="form-control" placeholder="Search...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-search btn-default" ng-click="searchFunction(searchkey)"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
      <!-- </form> -->
  </div>
</div>
<br>

<!-- template for sidebar -->
<div class="container">
  <div class ="row">
     <div class = "col-sm-2">
          <br><br><br>
          <p> <b>Condition </b> </p>
          <input type="checkbox" name="categories" value="New"> Like New <br>
          <input type="checkbox" name="categories" value="Used - Like New"> Used - Like New <br>
          <input type="checkbox" name="categories" value="Used - Good"> Used - Good <br>
          <input type="checkbox" name="categories" value="Used - Acceptable"> Used - Acceptable <br>
          <br>
          <p> <b>Price </b> </p>
          <input style="width: 50px" type="text" placeholder="min"> &nbsp; <input style="width: 50px" type="text" placeholder="max"><br>
          <br>
          <p> <b>Size (for apparel) </b> </p>
          <input type="checkbox" name="categories" value="X-Small"> X-Small <br>
          <input type="checkbox" name="categories" value="Small"> Small <br>
          <input type="checkbox" name="categories" value="Medium"> Medium <br>
          <input type="checkbox" name="categories" value="Large"> Large <br>
          <input type="checkbox" name="categories" value="X-Large"> X-Large <br>
          <input type="checkbox" name="categories" value="XX-Large"> XX-Large <br>
          <br>
          <p> <b>Dimension (for furniture)</b> </p>
          <p> Length: <input style="width: 40px" type="text" placeholder="min"> &nbsp; <input style="width: 40px" type="text" placeholder="max"></p>
          <p> Width: &nbsp; <input style="width: 40px" type="text" placeholder="min"> &nbsp; <input style="width: 40px" type="text" placeholder="max"></p>
          <p> Height:&nbsp; <input style="width: 40px" type="text" placeholder="min"> &nbsp; <input style="width: 40px" type="text" placeholder="max"></p>
    </div>

<!-- template for grid of product list -->
    <div class="col-sm-10">
      <!-- create pagination format -->
      <nav style="text-align:right" aria-label="Page navigation">
            <ul class="pagination pagination-sm">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
        </nav>
        <!-- create product lists -->
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="product in products">
                  <div class="thumbnail" >
                    <a href ="#!singleitem/{{product._id}}"><img src="uploads/{{product.imagePath}}" alt=""></a>
                    <div class="caption">
                      <p><a href="#!singleitem/{{product._id}}"> {{product.title}} </a></p>
                      <p>{{product.price | currency}} || {{product.condition}}</p>
                      <p>
                        <!-- <a href="#" class="btn btn-primary" role="button">Add to cart</a>  -->
                        <a href="#" class="btn btn-primary" role="button">Contact seller</a></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
</div>
