
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3" ng-repeat="product in products">
              <div class="thumbnail" >
                <a href =""><img src="{{product.image}}" alt=""></a>
                <div class="caption">
                  <p><a href="#"> {{product.name}} </a></p>
                  <p>{{product.price | currency}} &nbsp;&nbsp;&nbsp;&nbsp; Condition: {{product.condition}}</p>
                  <p><a href="#" class="btn btn-primary" role="button">Add to cart</a> <a href="#" class="btn btn-default" role="button">Contact seller</a></p>
                </div>
              </div>
        </div>
    </div>
</div>
