<div class="container">
  <p> <b>Condition </b> </p>
  <input type="checkbox" name="categories" value="New"> Like New <br>
  <input type="checkbox" name="categories" value="Used - Like New"> Used - Like New <br>
  <input type="checkbox" name="categories" value="Used - Good"> Used - Good <br>
  <input type="checkbox" name="categories" value="Used - Acceptable"> Used - Acceptable <br>

  <p> <b>Price </b> </p>
  <input style="width: 50px" type="text" placeholder="min"> &nbsp; <input style="width: 50px" type="text" placeholder="max">

  <p> <b>Size (for clothing) </b> </p>
  <input type="checkbox" name="categories" value="X-Small"> X-Small <br>
  <input type="checkbox" name="categories" value="Small"> Small <br>
  <input type="checkbox" name="categories" value="Medium"> Medium <br>
  <input type="checkbox" name="categories" value="Large"> Large <br>
  <input type="checkbox" name="categories" value="X-Large"> X-Large <br>
  <input type="checkbox" name="categories" value="XX-Large"> XX-Large <br>

  <p> <b>Dimension (for furniture)</b> </p>
  <p> Length: <input style="width: 40px" type="text" placeholder="min"> &nbsp; <input style="width: 40px" type="text" placeholder="max"></p>
  <p> Width: <input style="width: 40px" type="text" placeholder="min"> &nbsp; <input style="width: 40px" type="text" placeholder="max"></p>
  <p> Height: <input style="width: 40px" type="text" placeholder="min"> &nbsp; <input style="width: 40px" type="text" placeholder="max"></p>
</div>
