
.thumbnail img {height: 250px!important;}
.media img{ width: 150px; height: 150px; object-fit: cover;}
/*ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}*/
/*.schooldropdown {height: 33px;};*/
.navbar {margin-bottom: 0};

.container {
    height: 300px;
    width: 300px;
    background-color: red;
    float: left;
    overflow: hidden;
    margin: 20px;
}
.container img {
    display: block;
}

.portrait img {
    width: 100%;
}
.landscape img {
    height: 100%;
}
.footer{ background-color: #fbfbfb;
  color: white
}

.caretbtn{
  position: absolute;
    top: 0px;
    right: 15px;
    /*z-index: 100;*/
    background-color: #FFF;
    padding: 5px 5px 5px;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    line-height: 15px;
    border-radius: 50%;
}
